@font-face {
   font-family: "nyamomobile4618";
   src: url("/fonts/nyamomobile.ttf") format("truetype");
}

@font-face {
   font-family: "opensans4618";
   src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "opensansbold4618";
   src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
   font-family: "sansserif4618";
   src: url("/fonts/MS_Reference_Sans_Serif_regular.ttf") format("truetype");
}